@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
/*上部分*/
.top img{
	z-index: 10;
}
/*中间部分*/
.centetr{
	position: relative;
	top: -20px;
	min-height: 200px;
	background: url(../img/share_middle.png);
	z-index: -1;
}
.centetr .touxiang{
	padding-top: 50px;
	text-align: center;
}
.centetr .touxiang img{
	width: 95px;
	height: 95px;
}
.centetr .text{
	margin-top: 10px;
	font-size: 18px;
	color: #fff;
	text-align: center;
} 
.centetr .join{
	margin-top: 20px;
	text-align: center;
}
.centetr .join img{
	width: 80%;
}
.centetr .code{
	text-align: center;
	margin-top: 20px;
	padding-bottom: 30px;
}
.centetr .code img{
	width: 30%;
}
.centetr .code p{
	color: #fff;
}
/*底部*/
.bottom{
	z-index: 0;
	min-height: 200px;
	background: url(../img/share_bottom.png);
	position: relative;
	top: -30px;
	padding-bottom: 10px;
}
.bottom .title{
	position: relative;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}
.bottom .title img{
	width: 45%;
	z-index: 999;
}
.bottom .title p{
	position: absolute;
	top: 45px;
	margin-left: 50%;
	left: -40px;
}
.bottom .content{
	width: 90%;
	height: 280px;
	background: #fff;
	margin: 0 auto;
	position: relative;
	top: -20px;
	z-index: -1;
	padding: 20px 20px 5px;
	box-sizing: border-box;
	overflow: hidden;
}
.bottom .box{
	height: 40px;
	position: relative;
	margin: 10px 0;
}
.bottom .box img{
	width: 10%;
}
.bottom .box span{
	line-height: 10%;
	position: relative;
	top: -7px;
}
.bottom .box .name{
	margin-left: 20px;
}
.bottom .box .money{
	color: #e31919;
	float: right;
}





